<section>
  <td>
    <div class="mx-3">
      <tr>
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="user.name" class="form-control" (keyup.enter)="save()" />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" [(ngModel)]="user.age" class="form-control" (keyup.enter)="save()" />
        </div>
        <input type="button" value="Add" class="btn btn-primary" (click)="save()" />
      </tr>
    </div>
  </td>
  <td>
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u?.id}}</td>
          <td>{{u?.name}}</td>
          <td>{{u?.age}}</td>
          <td>
            <button class="btn btn-sm btn-primary mx-1" (click)="editUser(u)">Edit</button>
            <button class="btn btn-sm btn-danger mx-1" (click)="delete(u)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </td>